body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Bree Serif', serif;
    font-family: 'Mouse Memoirs', sans-serif;
    background-image: ;
    
  }

  main {
    flex: 1 0 auto;
    /* padding: 2rem; */
  }
  /*Above CSS ensures sticky footer for Materialize CSS*/
  
 #selection {
    font-family: 'Mouse Memoirs'sans-serif;
    font-size: 30px; 
  }

  /* <img class="responsive-img left" src="./assets/images/pexels-steshka-willems-1390361.jpg">

  labels and text */

  .dogInfoLabel{
    font-weight: normal;
    font-size: 20px;
  }

  #bred_for, #breed_group, #breed_name,#height,#life_span, #temperament,#weight{
    font-weight: bold;
  }