body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Bree Serif', serif;
    font-family: 'Mouse Memoirs', sans-serif;
    
  }

  main {
    flex: 1 0 auto;
    padding: 2rem;
  }
  /*Above CSS ensures sticky footer for Materialize CSS*/
  
 #selection {
    font-family: 'Mouse Memoirs'sans-serif;
    font-size: 30px; 
  }